body{
    background: linear-gradient(45deg, rgb(28, 110, 238) 10%, rgb(36, 47, 110) 90%) ;
    color: white;
    
}
nav{
    display: inline;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 16px;
    width: 100%;
    position: fixed;
    top: 0%;
    background-image: linear-gradient(45deg, rgb(62, 129, 245)10%, rgb(22, 29, 70) 90%) ;

}
li{
    display: inline;
    padding: 2%;
    color: white;
    padding-top: 8px;
}
.list{
    float: right;
    margin-right: 4%;
    width: 50%;
    display: inline;
}
.tier{
    margin-left: 10%;
    font-size: 200%;
}
main{
    display: inline-block;
    margin-top: 15%;
}
.unlock{
    float: left;
    margin-left: 10%;
    width: 30%;
}
img{
    float: right;
    width:30% ;
    margin-right: 10%;
    height: 300px;
    margin-bottom: 100px;
}
footer{
    text-align: center;
    background-image: linear-gradient(45deg, rgb(62, 129, 245)10%, rgb(22, 29, 70) 90%) ;
    padding: 16px;
    position: fixed;
    margin-bottom: 0%;
    width: 100%;
    bottom: 0%;
}
.mylink{
    color: white;
}
.active{
    background-color: #FF6496;
    margin-top: 16px;
    border-top-left-radius: 9em 10em;
    border-bottom-left-radius:9em 10em ;
    border-bottom-right-radius: 9em 10em;
    border-top-right-radius:9em 10em ;
    padding: 8px;
    width: fit-content;
}
.click{
    background-color: #FF6496;
    border-top-left-radius: 9em 10em;
    border-bottom-left-radius:9em 10em ;
    border-bottom-right-radius: 9em 10em;
    border-top-right-radius:9em 10em ;
    padding: 8px;
    width: fit-content;
}













